@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@import "tailwindcss";


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;

}

body, html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}